body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
   
    color: #008080;
    text-align: center;
}

nav {
    background-color: #008080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav img {
    height: 35px;
    margin-left: 20px; 
    margin-right: 15px;
   
}

nav select {
    font-family: 'Ysabeau SC', sans-serif;
    width: 150px;
}

nav form {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    width: 200px;
}

nav form .material-icons {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

nav form input[type="text"] {
    padding-right: 20px; 
}

nav form .search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 50px; 
}

nav form .search-button .material-icons {
    font-size: 24px;
    color: #FFFFFF; 
}

/*
main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #ffffff;
}
    */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

/*
.column {
    width: 48%;
}
*/

.circle {
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: -100px;
    margin-right: 20px;
    margin-top:50px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #E57F3D;
}

footer {
    background-color: #E57F3D;
    color: #36454F;
    text-align: center;
    padding: 1px;
    border-radius: 15px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 12px; 
    font-weight: bold;
    margin-top: auto;
}

.main-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    margin-left: 5px; 
}

.welcome-text {
    font-family: 'Poetsen One', cursive;
    font-size: 48px;
    margin-left: 5px; 
    color: #008080;
}

select {
    font-size: 16px; 
    color: #333;
    font-family: 'Ysabeau SC', sans-serif;
}

option {
    font-size: 16px; 
    color: #333; 
    font-family: 'Ysabeau SC', sans-serif;
}

.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fcf9ec;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
    color: #008080;
    margin-top: 20px;
}

p {
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    margin-top: 10px;
}


.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.container {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.container img {
    width: 100%;
    border-radius: 15px;
}


input[type="text"], select, input[type="file"] {
    width: 100%;
    box-sizing: border-box;
}

label.required::after {
    content: "*";
    color: red;
}

form {
    width: 100%;
    box-sizing: border-box;
}

.tall-form {
    height: 600px; 
}

.submit-button {
    background-color: green;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px; 
    height: 30px;
}

.submit-button.material-icons {
    margin-left: 8px; 
}

.submit-button:hover {
    background-color: darkgreen;
}

.clear-button {
    background-color: white;
    color: green;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px; 
    height: 30px;
}

.clear-button.material-icons {
    margin-right: 8px; 
}

.clear-button:hover {
    background-color: lightgray;
}

.center {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.content img, .content table {
    width: 48%;
    height: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: green;
    color: white;
}


